<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Design Template</title>
  <link rel="stylesheet" href="../dist/css/style.min.css" />
</head>

<body>
  <div class="wrap">
    <header>
      <!-- header -->
      <div class="header">
        <h1 class="header__title">Design UI Guide</h1>
      </div>

    </header>
    <main>
      <div class="container">
        <!-- lnb -->
        <div class="side-bar">
          <h4 class="side-bar__title">UI</h4>
          <ul class="snb">
            <li class="snb__item">
              <a href="#" class="snb__link">Accordion</a>
            </li>
            <li class="snb__item">
              <a href="#" class="snb__link">Alert</a>
            </li>
            <li class="snb__item">
              <a href="#" class="snb__link">Badge</a>
            </li>
            <li class="snb__item">
              <a href="#" class="snb__link">Color Picker</a>
            </li>
            <li class="snb__item">
              <a href="#" class="snb__link">Controller</a>
            </li>
            <li class="snb__item">
              <a href="#" class="snb__link">Alert</a>
            </li>
          </ul>
          <h4 class="side-bar__title">Components</h4>
          <ul class="snb">
            <li class="snb__item">
              <a href="#" class="snb__link">Accordion</a>
            </li>
            <li class="snb__item">
              <a href="#" class="snb__link">Alert</a>
            </li>
            <li class="snb__item">
              <a href="#" class="snb__link">Badge</a>
            </li>
            <li class="snb__item">
              <a href="#" class="snb__link">Color Picker</a>
            </li>
            <li class="snb__item">
              <a href="#" class="snb__link">Controller</a>
            </li>
            <li class="snb__item">
              <a href="#" class="snb__link">Alert</a>
            </li>
          </ul>
        </div>

        <div class="contents">
          contents
        </div>
      </div>
    </main>
    <footer>
      <!-- footer -->
      <div class="footer">
        <p class="footer__copyright">Copyright © 2022 Oh Min Young. All rights reserved</p>
      </div>

    </footer>
  </div>
  <script src="../dist/js/main.bundle.js"></script>
</body>

</html>