<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Design Template</title>
  <link rel="stylesheet" href="../dist/css/style.min.css" />
</head>

<body>
  <div class="wrap">
    <header>
      <!-- header -->
      <div class="header">
        <h1 class="header__title">Design UI Guide</h1>
      </div>

    </header>
    <div class="main">
      <!-- lnb -->
      <div class="side-bar">
        <h4 class="side-bar__title">Components</h4>
        <ul class="snb">
          <li class="snb__item">
            <a href="#page--accordion" class="snb__link">Accordion</a>
          </li>
          <li class="snb__item">
            <a href="#page--alert" class="snb__link">Alert</a>
          </li>
          <li class="snb__item">
            <a href="#page--breadcrumb" class="snb__link">Breadcrumb</a>
          </li>
          <li class="snb__item">
            <a href="#page--list" class="snb__link">List</a>
          </li>
          <li class="snb__item">
            <a href="#page--Modal" class="snb__link">Modal</a>
          </li>
          <li class="snb__item">
            <a href="#page--notification" class="snb__link">Notification</a>
          </li>
          <li class="snb__item">
            <a href="#page--pagination" class="snb__link">Pagination</a>
          </li>
          <li class="snb__item">
            <a href="#page--progressbar" class="snb__link">Progressbar</a>
          </li>
          <li class="snb__item">
            <a href="#page--stepper" class="snb__link">Stepper</a>
          </li>
          <li class="snb__item">
            <a href="#page--tab" class="snb__link">Tab</a>
          </li>
          <li class="snb__item">
            <a href="#page--table" class="snb__link">Table</a>
          </li>
        </ul>
        <h4 class="side-bar__title">UI</h4>
        <ul class="snb">
          <li class="snb__item">
            <a href="#page--badge" class="snb__link">Badge</a>
          </li>
          <li class="snb__item">
            <a href="#page--button" class="snb__link">Button</a>
          </li>
          <li class="snb__item">
            <a href="#page--checkbox" class="snb__link">Checkbox</a>
          </li>
          <li class="snb__item">
            <a href="#page--loader" class="snb__link">Loader</a>
          </li>
          <li class="snb__item">
            <a href="#page--radio" class="snb__link">Radio</a>
          </li>
          <li class="snb__item">
            <a href="#page--select" class="snb__link">Select</a>
          </li>
          <li class="snb__item">
            <a href="#page--tag" class="snb__link">Tag</a>
          </li>
          <li class="snb__item">
            <a href="#page--text-input" class="snb__link">Text Input</a>
          </li>
          <li class="snb__item">
            <a href="#page--textarea" class="snb__link">Textarea</a>
          </li>
          <li class="snb__item">
            <a href="#page--toggle-button" class="snb__link">Toggle Button</a>
          </li>
          <li class="snb__item">
            <a href="#page--toggle-switch" class="snb__link">Toggle Switch</a>
          </li>
          <li class="snb__item">
            <a href="#page--text-input" class="snb__link">Text Input</a>
          </li>
          <li class="snb__item">
            <a href="#page--textarea" class="snb__link">Textarea</a>
          </li>
          <li class="snb__item">
            <a href="#page--toggle-button" class="snb__link">Toggle Button</a>
          </li>
          <li class="snb__item">
            <a href="#page--toggle-switch" class="snb__link">Toggle Switch</a>
          </li>
          <li class="snb__item">
            <a href="#page--text-input" class="snb__link">Text Input</a>
          </li>
          <li class="snb__item">
            <a href="#page--textarea" class="snb__link">Textarea</a>
          </li>
          <li class="snb__item">
            <a href="#page--toggle-button" class="snb__link">Toggle Button</a>
          </li>
          <li class="snb__item">
            <a href="#page--toggle-switch" class="snb__link">Toggle Switch</a>
          </li>
        </ul>
      </div>

      <div class="main__contents">
        <!-- Accordion -->
        <div class="contents" id="page--accordion">
          <div class="contents__header">
            <strong class="contents__title">Accordion</strong>
          </div>
          <div class="contents__body">
            <div class="contents__body-inner">
              <div class="contents__theme">
                <dl>
                  <dt class="contents__theme-title">
                    테마
                  </dt>
                  <dd class="contents__theme-description">
                    [헤더 + 하나의 아코디언 컨텐츠]
                  </dd>
                </dl>
              </div>
              <div class="contents__views">
                <ul class="accordion" aria-labelledby="accordion-component">
                  <li class="accordion__item">
                    <!-- accordion__head--open 클래스 추가시 open -->
                    <button class="accordion__head accordion__head--open" aria-expanded="true" aria-controls="accordion-01">
                      <span class="accordion__title"> Accordion Head Title </span>
                      <svg class="accordion__arrow-icon svg-icon" aria-hidden="true">
                        <use xlink:href="#chevron-left-medium"></use>
                      </svg>
                    </button>
                    <div class="accordion__body" id="accordion-01">
                      <div class="accordion__content">
                        <span class="accordion__subtitle">
                          Accordion Subtitle Title
                        </span>
                        <p class="accordion__description">
                          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus voluptas vero illum sed soluta numquam quia ad ullam iure dignissimos. Neque beatae eius accusantium quos laborum nihil voluptatum quasi sapiente.
                        </p>
                      </div>
                    </div>
                  </li>
                  <li class="accordion__item">
                    <!-- accordion__head--open 클래스 추가시 open -->
                    <button class="accordion__head" aria-expanded="true" aria-controls="accordion-01">
                      <span class="accordion__title"> Accordion Head Title </span>
                      <svg class="accordion__arrow-icon svg-icon" aria-hidden="true">
                        <use xlink:href="#chevron-left-medium"></use>
                      </svg>
                    </button>
                    <div class="accordion__body" id="accordion-01">
                      <div class="accordion__content">
                        <span class="accordion__subtitle">
                          Accordion Subtitle Title
                        </span>
                        <p class="accordion__description">
                          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus voluptas vero illum sed soluta numquam quia ad ullam iure dignissimos. Neque beatae eius accusantium quos laborum nihil voluptatum quasi sapiente.
                        </p>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="contents__body-inner">
              <div class="contents__theme">
                <dl>
                  <dt class="contents__theme-title">
                    테마
                  </dt>
                  <dd class="contents__theme-description">
                    [헤더 + 여러개의 아코디언 컨텐츠]
                  </dd>
                </dl>
              </div>
              <div class="contents__views">
                <ul class="accordion" aria-labelledby="accordion-component">
                  <li class="accordion__item">
                    <!-- accordion__head--open 클래스 추가시 open -->
                    <button class="accordion__head accordion__head--open" aria-expanded="true" aria-controls="accordion-01">
                      <span class="accordion__title"> Accordion Head Title </span>
                      <svg class="accordion__arrow-icon svg-icon" aria-hidden="true">
                        <use xlink:href="#chevron-left-medium"></use>
                      </svg>
                    </button>
                    <div class="accordion__body" id="accordion-01">
                      <ul class="accordion__content-list">
                        <li class="accordion__content-item">
                          <p class="accordion__description">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus voluptas vero illum sed soluta numquam quia ad ullam iure dignissimos. Neque beatae eius accusantium quos laborum nihil voluptatum quasi sapiente.
                          </p>
                        </li>
                        <li class="accordion__content-item">
                          <p class="accordion__description">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus voluptas vero illum sed soluta numquam quia ad ullam iure dignissimos. Neque beatae eius accusantium quos laborum nihil voluptatum quasi sapiente.
                          </p>
                        </li>
                        <li class="accordion__content-item">
                          <p class="accordion__description">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus voluptas vero illum sed soluta numquam quia ad ullam iure dignissimos. Neque beatae eius accusantium quos laborum nihil voluptatum quasi sapiente.
                          </p>
                        </li>
                        <li class="accordion__content-item">
                          <p class="accordion__description">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus voluptas vero illum sed soluta numquam quia ad ullam iure dignissimos. Neque beatae eius accusantium quos laborum nihil voluptatum quasi sapiente.
                          </p>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li class="accordion__item">
                    <!-- accordion__head--open 클래스 추가시 open -->
                    <button class="accordion__head" aria-expanded="true" aria-controls="accordion-01">
                      <span class="accordion__title"> Accordion Head Title </span>
                      <svg class="accordion__arrow-icon svg-icon" aria-hidden="true">
                        <use xlink:href="#chevron-left-medium"></use>
                      </svg>
                    </button>
                    <div class="accordion__body" id="accordion-01">
                      <ul class="accordion__content-list">
                        <li class="accordion__content-item">
                          <p class="accordion__description">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus voluptas vero illum sed soluta numquam quia ad ullam iure dignissimos. Neque beatae eius accusantium quos laborum nihil voluptatum quasi sapiente.
                          </p>
                        </li>
                        <li class="accordion__content-item">
                          <p class="accordion__description">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus voluptas vero illum sed soluta numquam quia ad ullam iure dignissimos. Neque beatae eius accusantium quos laborum nihil voluptatum quasi sapiente.
                          </p>
                        </li>
                        <li class="accordion__content-item">
                          <p class="accordion__description">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus voluptas vero illum sed soluta numquam quia ad ullam iure dignissimos. Neque beatae eius accusantium quos laborum nihil voluptatum quasi sapiente.
                          </p>
                        </li>
                        <li class="accordion__content-item">
                          <p class="accordion__description">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus voluptas vero illum sed soluta numquam quia ad ullam iure dignissimos. Neque beatae eius accusantium quos laborum nihil voluptatum quasi sapiente.
                          </p>
                        </li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- alert -->
        <div class="contents" id="page--alert">
          <div class="contents__header">
            <strong class="contents__title">Alert</strong>
          </div>
          <div class="contents__body">
            <div class="contents__body-inner">
              <div class="contents__theme">
                <dl>
                  <dt class="contents__theme-title">
                    테마
                  </dt>
                  <dd class="contents__theme-description">
                    [상태 아이콘이 없는 기본 얼럿]
                  </dd>
                </dl>
              </div>
              <div class="contents__views">
                <div class="alert alert--default" style="position: static;" role="alertdialog" aria-modal="true">
                  <div class="alert__body">
                    <svg class="alert__icon svg-icon" aria-hidden="true">
                      <use xlink:href="#info-fill"></use>
                    </svg>
                    <div class="alert__contents">
                      <strong class="alert__title">얼럿 타이틀</strong>
                      <p class="alert__text">상태 아이콘이 없는 얼럿으로 텍스트는 여기에 들어갑니다.</p>
                    </div>
                  </div>
                  <div class="alert__foot">
                    <div class="alert__foot-buttons">
                      <button class="button button--link button--lg" type="button">
                        <span>취소</span>
                      </button>
                      <button class="button button--primary button--lg" type="button">
                        <span>확인</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="contents__body-inner">

              <div class="contents__theme">
                <dl>
                  <dt class="contents__theme-title">
                    테마
                  </dt>
                  <dd class="contents__theme-description">
                    [상태 아이콘이 있는 성공 안내 얼럿]
                  </dd>
                </dl>
              </div>
              <div class="contents__views">
                <div class="alert alert--success" style="position: static;" role="alertdialog" aria-modal="true">
                  <div class="alert__body">
                    <svg class="alert__icon svg-icon" aria-hidden="true">
                      <use xlink:href="#checkmark-fill"></use>
                    </svg>
                    <div class="alert__contents">
                      <strong class="alert__title">얼럿 타이틀</strong>
                      <p class="alert__text">이 얼럿은 사용자에게 성공 상태를 알리기 위해 사용합니다.</p>
                    </div>
                  </div>
                  <div class="alert__foot">
                    <button class="button button--link button--lg" type="button">
                      <span>취소</span>
                    </button>
                    <div class="alert__foot-buttons">
                      <button class="button button--primary button--lg" type="button">
                        <span>확인</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="contents__body-inner">

              <div class="contents__theme">
                <dl>
                  <dt class="contents__theme-title">
                    테마
                  </dt>
                  <dd class="contents__theme-description">
                    [상태 아이콘이 있는 경고 안내 얼럿]
                  </dd>
                </dl>
              </div>
              <div class="contents__views">
                <div class="alert alert--warning" style="position: static;" role="alertdialog" aria-modal="true">
                  <div class="alert__body">
                    <svg class="alert__icon svg-icon" aria-hidden="true">
                      <use xlink:href="#warning-fill"></use>
                    </svg>
                    <div class="alert__contents">
                      <strong class="alert__title">얼럿 타이틀</strong>
                      <p class="alert__text">이 얼럿은 사용자에게 경고 상태를 알리기 위해 사용합니다.</p>
                    </div>
                  </div>
                  <div class="alert__foot">
                    <div class="alert__foot-buttons">
                      <button class="button button--negative button--lg" type="button">
                        <span>확인</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- loader -->
        <div class="contents" id="page--loader">
          <div class="contents__header">
            <strong class="contents__title">breadcrumb</strong>
          </div>
          <div class="contents__body">
            <div class="contents__body-inner">
              <div class="contents__theme">
                <dl>
                  <dt class="contents__theme-title">
                    테마
                  </dt>
                  <dd class="contents__theme-description">
                    [Defatult]
                  </dd>
                </dl>
              </div>
              <div class="contents__views">
                <div class="breadcrumb" role="navigation" aria-label="Main">
                  <ol class="breadcrumb__list">
                    <li class="breadcrumb__item">
                      <a href="#" class="breadcrumb__link" title="홈">홈</a>
                    </li>
                    <li class="breadcrumb__item">
                      <a href="#" class="breadcrumb__link">
                        Shop
                      </a>
                    </li>
                    <li class="breadcrumb__item">
                      <a href="#" class="breadcrumb__link">
                        About
                      </a>
                    </li>
                    <li class="breadcrumb__item">
                      <span class="breadcrumb__text">
                        Detault
                      </span>
                    </li>
                  </ol>
                </div>
              </div>
            </div>
          </div>

        </div>

        <!-- list -->
        <div class="contents" id="page--list">
          <div class="contents__header">
            <strong class="contents__title">List</strong>
          </div>
          <div class="contents__body">
            <div class="contents__body-inner">
              <div class="contents__theme">
                <dl>
                  <dt class="contents__theme-title">
                    테마
                  </dt>
                  <dd class="contents__theme-description">
                    [Defatult]
                  </dd>
                </dl>
              </div>
              <div class="contents__views">
                <ul class="list">
                  <li class="list__item">
                    <span class="list__text">Action Button l</span>
                    <div class="list__action-buttons">
                      <button class="list__action-button button" type="button" title="위로 이동">
                        <svg class="svg-icon" aria-hidden="true">
                          <use xlink:href="#chevron-up"></use>
                        </svg>
                      </button>
                      <button class="list__action-button button" type="button" title="아래로 이동">
                        <svg class="svg-icon" aria-hidden="true">
                          <use xlink:href="#chevron-down"></use>
                        </svg>
                      </button>
                      <button class="list__action-button button" type="button" title="삭제">
                        <svg class="svg-icon" aria-hidden="true">
                          <use xlink:href="#trash"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                  <li class="list__item list__item--selected">
                    <span class="list__text">Action Button list item text selected</span>
                    <div class="list__action-buttons">
                      <button class="list__action-button button" type="button" title="위로 이동">
                        <svg class="svg-icon" aria-hidden="true">
                          <use xlink:href="#chevron-up"></use>
                        </svg>
                      </button>
                      <button class="list__action-button button" type="button" title="아래로 이동">
                        <svg class="svg-icon" aria-hidden="true">
                          <use xlink:href="#chevron-down"></use>
                        </svg>
                      </button>
                      <button class="list__action-button button" type="button" title="삭제">
                        <svg class="svg-icon" aria-hidden="true">
                          <use xlink:href="#trash"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                  <li class="list__item list__item--disabled">
                    <span class="list__text">Action Button list item text disabled</span>
                    <div class="list__action-buttons">
                      <button class="list__action-button button" type="button" title="위로 이동">
                        <svg class="svg-icon" aria-hidden="true">
                          <use xlink:href="#chevron-up"></use>
                        </svg>
                      </button>
                      <button class="list__action-button button" type="button" title="아래로 이동">
                        <svg class="svg-icon" aria-hidden="true">
                          <use xlink:href="#chevron-down"></use>
                        </svg>
                      </button>
                      <button class="list__action-button button" type="button" title="삭제">
                        <svg class="svg-icon" aria-hidden="true">
                          <use xlink:href="#trash"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                  <li class="list__item list__item--selected list__item--disabled">
                    <span class="list__text">Action Button list item text selected disabled</span>
                    <div class="list__action-buttons">
                      <button class="list__action-button button" type="button" title="위로 이동">
                        <svg class="svg-icon" aria-hidden="true">
                          <use xlink:href="#chevron-up"></use>
                        </svg>
                      </button>
                      <button class="list__action-button button" type="button" title="아래로 이동">
                        <svg class="svg-icon" aria-hidden="true">
                          <use xlink:href="#chevron-down"></use>
                        </svg>
                      </button>
                      <button class="list__action-button button" type="button" title="삭제">
                        <svg class="svg-icon" aria-hidden="true">
                          <use xlink:href="#trash"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- modal -->
        <div class="contents" id="page--modal">
          <div class="contents__header">
            <strong class="contents__title">Modal</strong>
          </div>
          <div class="contents__body">
            <div class="contents__body-inner">
              <div class="contents__theme">
                <dl>
                  <dt class="contents__theme-title">
                    테마
                  </dt>
                  <dd class="contents__theme-description">
                    [Defatult]
                  </dd>
                </dl>
              </div>
              <div class="contents__views">
                <div class="modal" style="position: static;" role="dialog" aria-modal="true">
                  <div class="modal__head">
                    <div class="modal__head-title">
                      <span class="modal__head-title-text">Title</span>
                      <span class="modal__head-subtitle">subtitle</span>
                    </div>
                    <div class="modal__head-close-button">
                      <button class="button button--icon button--link button--sm" title="닫기">
                        <svg class="svg-icon" aria-hidden="true">
                          <use xlink:href="#close"></use>
                        </svg>
                      </button>
                    </div>
                  </div>
                  <div class="modal__body modal__body--sm">
                    <p>modal contents modal contents modal contents modal contents</p>
                  </div>
                  <div class="modal__foot">
                    <button class="button button--tertiary button--lg" type="button">
                      <span>초기화</span>
                    </button>
                    <button class="button button--danger button--lg" type="button">
                      <span>삭제</span>
                    </button>
                    <div class="modal__foot-main-buttons">
                      <button class="button button--link button--lg" type="button">
                        <span>취소</span>
                      </button>
                      <button class="button button--primary button--lg" type="button">
                        <span>저장</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- notification -->
        <div class="content">
          <div class="contents__header">
            <strong class="contents__title">Notification</strong>
          </div>
          <div class="contents__body">

            <div class="contents__body-inner">
              <div class="contents__theme">
                <dl>
                  <dt class="contents__theme-title">
                    테마
                  </dt>
                  <dd class="contents__theme-description">
                    [Defatult]
                  </dd>
                </dl>
              </div>
              <div class="contents__views" style="width: 600px">
                <!-- info -->
                <div class="notification notification--info" role="alert">
                  <svg class="notification__icon svg-icon" aria-hidden="true">
                    <use xlink:href="#info-fill"></use>
                  </svg>
                  <div class="notification__contents">
                    <p class="notification__title">Notification Title</p>
                    <p class="notification__text">Notification Text Here.</p>
                  </div>
                  <button class="notification__close-button" title="닫기">
                    <svg class="svg-icon" aria-hidden="true">
                      <use xlink:href="#close"></use>
                    </svg>
                  </button>
                </div>
                <!-- success -->
                <div class="notification notification--success" role="alert">
                  <svg class="notification__icon svg-icon" aria-hidden="true">
                    <use xlink:href="#checkmark-fill"></use>
                  </svg>
                  <div class="notification__contents">
                    <p class="notification__title">Notification Title</p>
                    <p class="notification__text">Notification Text Here.</p>
                  </div>
                  <button class="notification__close-button" title="닫기">
                    <svg class="svg-icon" aria-hidden="true">
                      <use xlink:href="#close"></use>
                    </svg>
                  </button>
                </div>
                <!-- warning -->
                <div class="notification notification--warning" role="alert">
                  <svg class="notification__icon svg-icon" aria-hidden="true">
                    <use xlink:href="#warning-fill"></use>
                  </svg>
                  <div class="notification__contents">
                    <p class="notification__title">Notification Title</p>
                    <p class="notification__text">Notification Text Here.</p>
                  </div>
                  <button class="notification__close-button" title="닫기">
                    <svg class="svg-icon" aria-hidden="true">
                      <use xlink:href="#close"></use>
                    </svg>
                  </button>
                </div>
                <!-- error -->
                <div class="notification notification--error" role="alert">
                  <svg class="notification__icon svg-icon" aria-hidden="true">
                    <use xlink:href="#issue-fill"></use>
                  </svg>
                  <div class="notification__contents">
                    <p class="notification__title">Notification Title</p>
                    <p class="notification__text">
                      Notification Text Here Notification Text Here Notification Text Here Notification Text Here Notification
                      Text Here Notification Text Here Notification Text Here Notification Text Here.
                    </p>
                  </div>
                  <button class="notification__close-button" title="닫기">
                    <svg class="svg-icon" aria-hidden="true">
                      <use xlink:href="#close"></use>
                    </svg>
                  </button>
                </div>
                <!-- normal -->
                <div class="notification notification--normal" role="alert">
                  <svg class="notification__icon svg-icon" aria-hidden="true">
                    <use xlink:href="#subtract"></use>
                  </svg>
                  <div class="notification__contents">
                    <p class="notification__title">Notification Title</p>
                    <p class="notification__text">
                      Notification Text Here Notification Text Here Notification Text Here Notification Text Here Notification
                      Text Here Notification Text Here Notification Text Here Notification Text Here.
                    </p>
                  </div>
                  <button class="notification__close-button" title="닫기">
                    <svg class="svg-icon" aria-hidden="true">
                      <use xlink:href="#close"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </div>

            <div class="contents__body-inner">
              <div class="contents__theme">
                <dl>
                  <dt class="contents__theme-title">
                    테마
                  </dt>
                  <dd class="contents__theme-description">
                    [Defatult]
                  </dd>
                </dl>
              </div>
              <div class="contents__views">
                <!-- info -->
                <div class="notification-message notification-message--info">
                  <svg class="notification-message__icon svg-icon" aria-hidden="true">
                    <use xlink:href="#info-fill"></use>
                  </svg>
                  <span class="notification-message__text">Notification Message</span>
                </div>
                <!-- success -->
                <div class="notification-message notification-message--success">
                  <svg class="notification-message__icon svg-icon" aria-hidden="true">
                    <use xlink:href="#checkmark-fill"></use>
                  </svg>
                  <span class="notification-message__text">Notification Message</span>
                </div>
                <!-- warning -->
                <div class="notification-message notification-message--warning">
                  <svg class="notification-message__icon svg-icon" aria-hidden="true">
                    <use xlink:href="#warning-fill"></use>
                  </svg>
                  <span class="notification-message__text">Notification Message</span>
                </div>
                <!-- error -->
                <div class="notification-message notification-message--error">
                  <svg class="notification-message__icon svg-icon" aria-hidden="true">
                    <use xlink:href="#issue-fill"></use>
                  </svg>
                  <span class="notification-message__text">Notification Message</span>
                </div>
                <!-- loading -->
                <div class="notification-message notification-message--loading">
                  <div class="loader loader--xs">
                    <div class="loader__spinner"></div>
                  </div>
                  <span class="notification-message__text">Notification Message</span>
                </div>
              </div>
            </div>

          </div>
        </div>

        <!-- pagination -->
        <div class="contents" id="page--pagination">
          <div class="contents__header">
            <strong class="contents__title">Pagination</strong>
          </div>
          <div class="contents__body">

            <div class="contents__body-inner">
              <div class="contents__theme">
                <dl>
                  <dt class="contents__theme-title">
                    테마
                  </dt>
                  <dd class="contents__theme-description">
                    [Defatult]
                  </dd>
                </dl>
              </div>
              <div class="contents__views">
                <div class="component-examle__item-group">
                  <div class="pagination">
                    <button class="pagination__button button button--link" type="button" title="첫 페이지로 이동하기">
                      <svg class="svg-icon" aria-hidden="true">
                        <use xlink:href="#chevron-double-left-medium"></use>
                      </svg>
                    </button>
                    <button class="pagination__button button button--link" type="button" title="이전 페이지로 이동하기">
                      <svg class="svg-icon" aria-hidden="true">
                        <use xlink:href="#chevron-left-medium"></use>
                      </svg>
                    </button>
                    <ul class="pagination__list">
                      <li class="pagination__item">
                        <a href="#none" class="pagination__link"> 1 </a>
                      </li>
                      <li class="pagination__item">
                        <a href="#none" class="pagination__link"> 2 </a>
                      </li>
                      <li class="pagination__item">
                        <a href="#none" class="pagination__link"> 3 </a>
                      </li>
                      <li class="pagination__item">
                        <a href="#none" class="pagination__link"> 4 </a>
                      </li>
                      <li class="pagination__item">
                        <a href="#none" class="pagination__link"> 5 </a>
                      </li>
                      <li class="pagination__item">
                        <a href="#none" class="pagination__link"> 6 </a>
                      </li>
                      <li class="pagination__item">
                        <a href="#none" class="pagination__link"> 7 </a>
                      </li>
                      <li class="pagination__item">
                        <a href="#none" class="pagination__link"> 8 </a>
                      </li>
                      <li class="pagination__item">
                        <a href="#none" class="pagination__link"> 9 </a>
                      </li>
                      <li class="pagination__item">
                        <a href="#none" class="pagination__link"> 10 </a>
                      </li>
                      <li class="pagination__item">
                        <span class="pagination__ellipsis"> ... </span>
                      </li>
                      <li class="pagination__item">
                        <a href="#none" class="pagination__link"> 20 </a>
                      </li>
                    </ul>
                    <button class="pagination__button button button--link" type="button" title="다음 페이지로 이동하기">
                      <svg class="svg-icon" aria-hidden="true">
                        <use xlink:href="#chevron-right-medium"></use>
                      </svg>
                    </button>
                    <button class="pagination__button button button--link" type="button" title="마지막 페이지로 이동하기">
                      <svg class="svg-icon" aria-hidden="true">
                        <use xlink:href="#chevron-double-right-medium"></use>
                      </svg>
                    </button>
                  </div>
                </div>
              </div>

              <div class="contents__body-inner">
                <div class="contents__theme">
                  <dl>
                    <dt class="contents__theme-title">
                      테마
                    </dt>
                    <dd class="contents__theme-description">
                      [Defatult]
                    </dd>
                  </dl>
                </div>
                <div class="contents__views">
                  <div class="pagination">
                    <button class="pagination__button button button--link" type="button" disabled="disabled" title="첫 페이지로 이동하기">
                      <svg class="svg-icon" aria-hidden="true">
                        <use xlink:href="#chevron-double-left-medium"></use>
                      </svg>
                    </button>
                    <button class="pagination__button button button--link" type="button" title="이전 페이지로 이동하기">
                      <svg class="svg-icon" aria-hidden="true">
                        <use xlink:href="#chevron-left-medium"></use>
                      </svg>
                    </button>
                    <ul class="pagination__list">
                      <span class="pagination__input text-input" role="textbox" contenteditable>1</span>
                      <span class="pagination__dash">-</span>
                      <span class="pagination__last-page">20</span>
                    </ul>
                    <button class="pagination__button button button--link" type="button" title="다음 페이지로 이동하기">
                      <svg class="svg-icon" aria-hidden="true">
                        <use xlink:href="#chevron-right-medium"></use>
                      </svg>
                    </button>
                    <button class="pagination__button button button--link" type="button" disabled="disabled" title="마지막 페이지로 이동하기">
                      <svg class="svg-icon" aria-hidden="true">
                        <use xlink:href="#chevron-double-right-medium"></use>
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <!-- Progressbar -->
            <div class="contents" id="page--progressbar">
              <div class="contents__header">
                <strong class="contents__title">Progressbar</strong>
              </div>
              <div class="contents__body">
                <div class="contents__body-inner">
                  <div class="contents__theme">
                    <dl>
                      <dt class="contents__theme-title">
                        테마
                      </dt>
                      <dd class="contents__theme-description">
                        [Defatult]
                      </dd>
                    </dl>
                  </div>
                  <div class="contents__views">
                    <div class="progressbar">
                      <div class="progressbar__gage" style="width: 70%;" title="70%">
                        <span class="progressbar__text">70.00%</span>
                      </div>
                    </div>
                    <label class="hidden" for="bar-gage-02">Loading:</label>
                    <progress id="bar-gage-02" class="progressbar" value="20" max="100">
                      <strong>20%</strong>
                    </progress>
                  </div>
                </div>
              </div>
            </div>

            <!-- stepper -->
            <div class="contents" id="page--stepper">
              <div class="contents__header">
                <strong class="contents__title">Steps</strong>
              </div>
              <div class="contents__body">
                <div class="contents__body-inner">
                  <div class="contents__theme">
                    <dl>
                      <dt class="contents__theme-title">
                        테마
                      </dt>
                      <dd class="contents__theme-description">
                        [Defatult]
                      </dd>
                    </dl>
                  </div>
                  <div class="contents__views">
                    <div class="steps">
                      <!-- 현재 단계 항목에 steps__item--cureent 클래스 추가 -->
                      <div class="steps__item steps__item--current">
                        <div class="steps__icon">
                          <span class="steps__icon-text">1</span>
                        </div>
                        <div class="steps__title">
                          <span class="steps__title-text">Step</span>
                        </div>
                      </div>
                      <div class="steps__item">
                        <div class="steps__icon">
                          <span class="steps__icon-text">2</span>
                        </div>
                        <div class="steps__title">
                          <span class="steps__title-text">Step</span>
                        </div>
                      </div>
                      <div class="steps__item">
                        <div class="steps__icon">
                          <span class="steps__icon-text">3</span>
                        </div>
                        <div class="steps__title">
                          <span class="steps__title-text">Step</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- tab -->
            <div class="contents" id="page--tab">
              <div class="contents__header">
                <strong class="contents__title">Tab</strong>
              </div>

              <div class="contents__body">
                <div class="contents__body-inner">
                  <div class="contents__theme">
                    <dl>
                      <dt class="contents__theme-title">
                        테마
                      </dt>
                      <dd class="contents__theme-description">
                        [Defatult]
                      </dd>
                    </dl>
                  </div>
                  <div class="contents__views">
                    <div class="tab tab--container tab--horizontal" role="tablist" aria-label="Sample Tabs">
                      <ul class="tab__bar">
                        <li class="tab__item" style="width: calc(100% / 4)">
                          <button type="button" class="tab__button" role="tab" aria-selected="false">
                            <span class="tab__button-text">Tab1</span>
                          </button>
                        </li>
                        <li class="tab__item tab__item--selected" style="width: calc(100% / 4)">
                          <button type="button" class="tab__button" role="tab" aria-selected="true">
                            <span class="tab__button-text">Tab2</span>
                          </button>
                        </li>
                        <li class="tab__item" style="width: calc(100% / 4)">
                          <button type="button" class="tab__button" role="tab" aria-selected="false">
                            <span class="tab__button-text">Tab3</span>
                          </button>
                        </li>
                        <li class="tab__item" style="width: calc(100% / 4)">
                          <button type="button" class="tab__button" role="tab" aria-selected="false">
                            <span class="tab__button-text">Tab4</span>
                          </button>
                        </li>
                      </ul>
                      <!-- <div class="tab__panel">
            </div> -->
                    </div>
                  </div>
                </div>

                <div class="contents__body-inner">
                  <div class="contents__theme">
                    <dl>
                      <dt class="contents__theme-title">
                        테마
                      </dt>
                      <dd class="contents__theme-description">
                        [Defatult]
                      </dd>
                    </dl>
                  </div>
                  <div class="contents__views">
                    <div class="tab tab--container tab--vertical" role="tablist" aria-label="Sample Tabs">
                      <ul class="tab__bar">
                        <li class="tab__item" style="height: calc(100% / 4)">
                          <button type="button" class="tab__button" role="tab" aria-selected="false">
                            <span class="tab__button-text">Tab1</span>
                          </button>
                        </li>
                        <li class="tab__item tab__item--selected" style="height: calc(100% / 4)">
                          <button type="button" class="tab__button" role="tab" aria-selected="true">
                            <span class="tab__button-text">Tab2</span>
                          </button>
                        </li>
                        <li class="tab__item" style="height: calc(100% / 4)">
                          <button type="button" class="tab__button" role="tab" aria-selected="false">
                            <span class="tab__button-text">Tab3</span>
                          </button>
                        </li>
                        <li class="tab__item" style="height: calc(100% / 4)">
                          <button type="button" class="tab__button" role="tab" aria-selected="false">
                            <span class="tab__button-text">Tab4</span>
                          </button>
                        </li>
                      </ul>
                      <!-- <div class="tab__panel">
            </div> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- table -->
            <div class="contents" id="page--table">
              <div class="contents__header">
                <strong class="contents__title">Table</strong>
              </div>
              <div class="contents__body">
                <div class="contents__body-inner">
                  <div class="contents__theme">
                    <dl>
                      <dt class="contents__theme-title">
                        테마
                      </dt>
                      <dd class="contents__theme-description">
                        [Defatult]
                      </dd>
                    </dl>
                  </div>
                  <div class="contents__views">
                    <!-- table-primary -->
                    <table class="table table--primary">
                      <caption class="hidden">Table</caption>
                      <thead>
                        <tr>
                          <th>오브젝트 ID</th>
                          <th>변수 명</th>
                          <th>변수 값</th>
                        </tr>
                      </thead>
                      <tbody>
                        <!-- 선택 되었을 경우, tr--selected 클래스 추가-->
                        <tr class="tr--selected">
                          <td>Selected Status</td>
                          <td>USER_ID</td>
                          <td>Root</td>
                        </tr>
                        <tr>
                          <td>GLOBAL</td>
                          <td>USER_ID</td>
                          <td>Root</td>
                        </tr>
                        <tr>
                          <td>GLOBAL</td>
                          <td>USER_ID</td>
                          <td>Root</td>
                        </tr>
                        <tr>
                          <td>GLOBAL</td>
                          <td>USER_ID</td>
                          <td>Root</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>

                <div class="contents__body-inner">
                  <div class="contents__theme">
                    <dl>
                      <dt class="contents__theme-title">
                        테마
                      </dt>
                      <dd class="contents__theme-description">
                        [Defatult]
                      </dd>
                    </dl>
                  </div>
                  <div class="contents__views">
                    <table class="table table--secondary td--gap-sm">
                      <caption class="hidden">Table</caption>
                      <colgroup>
                        <col width="90" />
                        <col width="90" />
                        <col />
                      </colgroup>
                      <thead>
                        <tr>
                          <th>변수명</th>
                          <th>변수값</th>
                          <th>추가/삭제</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <input type="text" class="text-input" placeholder="placeholder text" />
                          </td>
                          <td>
                            <input type="text" class="text-input" placeholder="placeholder text" />
                          </td>
                          <td>
                            <div class="table__action-buttons">
                              <button class="button button--icon button--support" type="button" title="추가">
                                <svg class="svg-icon" aria-hidden="true">
                                  <use xlink:href="#plus"></use>
                                </svg>
                              </button>
                              <button class="button button--icon button--danger" type="button" title="삭제">
                                <svg class="svg-icon" aria-hidden="true">
                                  <use xlink:href="#minus"></use>
                                </svg>
                              </button>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <input type="text" class="text-input" placeholder="placeholder text" />
                          </td>
                          <td>
                            <input type="text" class="text-input" placeholder="placeholder text" />
                          </td>
                          <td>
                            <div class="table__action-buttons">
                              <button class="button button--icon button--support" type="button" title="추가">
                                <svg class="svg-icon" aria-hidden="true">
                                  <use xlink:href="#plus"></use>
                                </svg>
                              </button>
                              <button class="button button--icon button--danger" type="button" title="삭제">
                                <svg class="svg-icon" aria-hidden="true">
                                  <use xlink:href="#minus"></use>
                                </svg>
                              </button>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>

                <div class="contents__body-inner">
                  <div class="contents__theme">
                    <dl>
                      <dt class="contents__theme-title">
                        테마
                      </dt>
                      <dd class="contents__theme-description">
                        [Defatult]
                      </dd>
                    </dl>
                  </div>
                  <div class="contents__views">
                    <div class="table-scroll">
                      <table class="table table--primary">
                        <caption class="hidden">Table</caption>
                        <thead>
                          <tr>
                            <th>오브젝트 ID</th>
                            <th>변수 명</th>
                            <th>변수 값</th>
                          </tr>
                        </thead>
                      </table>
                      <div class="overflow-y" style="max-height: 120px;">
                        <!-- table-primary -->
                        <table class="table table--primary">
                          <caption class="hidden">Table</caption>
                          <tbody>
                            <!-- 선택 되었을 경우, tr--selected 클래스 추가-->
                            <tr class="tr--selected">
                              <td>Selected Status</td>
                              <td>USER_ID</td>
                              <td>Root</td>
                            </tr>
                            <tr>
                              <td>GLOBAL</td>
                              <td>USER_ID</td>
                              <td>Root</td>
                            </tr>
                            <!-- Drawer 마크업과 스타일링 UI 추가 시작  -->
                            <tr>
                              <td>GLOBAL</td>
                              <td>USER_ID</td>
                              <td>Root</td>
                            </tr>
                            <tr>
                              <td>GLOBAL</td>
                              <td>USER_ID</td>
                              <td>Root</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <footer>
          <!-- footer -->
          <div class="footer">
            <p class="footer__copyright">Copyright © 2022 Oh Min Young. All rights reserved</p>
          </div>

        </footer>
      </div>
      <script src="../dist/js/main.bundle.js"></script>
</body>

</html>