<!-- tab -->
<div class="contents">
  <div class="contents__header">
    <strong class="contents__title">component</strong>
    <p class="contents__text">Tab</p>
  </div>

  <div class="contents__body">
    <div class="contents__body-inner">
      <span class="contents__theme">Studio Tab - horizontal</span>
      <div class="contents__views">
        <div class="tab tab--container tab--horizontal" role="tablist" aria-label="Sample Tabs">
          <ul class="tab__bar">
            <li class="tab__item" style="width: calc(100% / 4)">
              <button type="button" class="tab__button" role="tab" aria-selected="false">
                <span class="tab__button-text">Tab1</span>
              </button>
            </li>
            <li class="tab__item tab__item--selected" style="width: calc(100% / 4)">
              <button type="button" class="tab__button" role="tab" aria-selected="true">
                <span class="tab__button-text">Tab2</span>
              </button>
            </li>
            <li class="tab__item" style="width: calc(100% / 4)">
              <button type="button" class="tab__button" role="tab" aria-selected="false">
                <span class="tab__button-text">Tab3</span>
              </button>
            </li>
            <li class="tab__item" style="width: calc(100% / 4)">
              <button type="button" class="tab__button" role="tab" aria-selected="false">
                <span class="tab__button-text">Tab4</span>
              </button>
            </li>
          </ul>
          <!-- <div class="tab__panel">
            </div> -->
        </div>
      </div>
    </div>

    <div class="contents__body-inner">
      <span class="contents__theme">Default</span>
      <div class="contents__views">
        <div class="tab tab--container tab--vertical" role="tablist" aria-label="Sample Tabs">
          <ul class="tab__bar">
            <li class="tab__item" style="height: calc(100% / 4)">
              <button type="button" class="tab__button" role="tab" aria-selected="false">
                <span class="tab__button-text">Tab1</span>
              </button>
            </li>
            <li class="tab__item tab__item--selected" style="height: calc(100% / 4)">
              <button type="button" class="tab__button" role="tab" aria-selected="true">
                <span class="tab__button-text">Tab2</span>
              </button>
            </li>
            <li class="tab__item" style="height: calc(100% / 4)">
              <button type="button" class="tab__button" role="tab" aria-selected="false">
                <span class="tab__button-text">Tab3</span>
              </button>
            </li>
            <li class="tab__item" style="height: calc(100% / 4)">
              <button type="button" class="tab__button" role="tab" aria-selected="false">
                <span class="tab__button-text">Tab4</span>
              </button>
            </li>
          </ul>
          <!-- <div class="tab__panel">
            </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
