<!-- loader -->
<div class="contents">
  <div class="contents__header">
    <strong class="contents__title">component</strong>
    <p class="contents__text">Breacrumb</p>
  </div>
  <div class="contents__body">
    <div class="contents__body-inner">
      <span class="contents__theme">Default</span>
      <div class="contents__views">
        <div class="breadcrumb" role="navigation" aria-label="Main">
          <span class="breadcrumb__text"> IRIS 관리 </span>
          <span class="breadcrumb__text"> 환경설정 </span>
          <span class="breadcrumb__text"> 기본설정 </span>
          <span class="breadcrumb__text"> Depth4 </span>
          <span class="breadcrumb__text"> Depth5 </span>
        </div>
      </div>
    </div>
  </div>

</div>
