<!-- Progressbar -->
<div class="contents" id="page--progressbar">
  <div class="contents__header">
    <strong class="contents__title">Progressbar</strong>
  </div>
  <div class="contents__body">
    <div class="contents__body-inner">
      <div class="contents__theme">
        <dl>
          <dt class="contents__theme-title">
            테마
          </dt>
          <dd class="contents__theme-description">
            [Defatult]
          </dd>
        </dl>
      </div>
      <div class="contents__views">
        <div class="progressbar">
          <div class="progressbar__gage" style="width: 70%;" title="70%">
            <span class="progressbar__text">70.00%</span>
          </div>
        </div>
        <label class="hidden" for="bar-gage-02">Loading:</label>
        <progress id="bar-gage-02" class="progressbar" value="20" max="100">
          <strong>20%</strong>
        </progress>
      </div>
    </div>
  </div>
</div>
