<!-- pagination -->
<div class="contents" id="page--pagination">
  <div class="contents__header">
    <strong class="contents__title">Pagination</strong>
  </div>
  <div class="contents__body">

    <div class="contents__body-inner">
      <div class="contents__theme">
        <dl>
          <dt class="contents__theme-title">
            테마
          </dt>
          <dd class="contents__theme-description">
            [Defatult]
          </dd>
        </dl>
      </div>
      <div class="contents__views">
        <div class="component-examle__item-group">
          <div class="pagination">
            <button class="pagination__button button button--link" type="button" title="첫 페이지로 이동하기">
              <svg class="svg-icon" aria-hidden="true">
                <use xlink:href="#chevron-double-left-medium"></use>
              </svg>
            </button>
            <button class="pagination__button button button--link" type="button" title="이전 페이지로 이동하기">
              <svg class="svg-icon" aria-hidden="true">
                <use xlink:href="#chevron-left-medium"></use>
              </svg>
            </button>
            <ul class="pagination__list">
              <li class="pagination__item">
                <a href="#none" class="pagination__link"> 1 </a>
              </li>
              <li class="pagination__item">
                <a href="#none" class="pagination__link"> 2 </a>
              </li>
              <li class="pagination__item">
                <a href="#none" class="pagination__link"> 3 </a>
              </li>
              <li class="pagination__item">
                <a href="#none" class="pagination__link"> 4 </a>
              </li>
              <li class="pagination__item">
                <a href="#none" class="pagination__link"> 5 </a>
              </li>
              <li class="pagination__item">
                <a href="#none" class="pagination__link"> 6 </a>
              </li>
              <li class="pagination__item">
                <a href="#none" class="pagination__link"> 7 </a>
              </li>
              <li class="pagination__item">
                <a href="#none" class="pagination__link"> 8 </a>
              </li>
              <li class="pagination__item">
                <a href="#none" class="pagination__link"> 9 </a>
              </li>
              <li class="pagination__item">
                <a href="#none" class="pagination__link"> 10 </a>
              </li>
              <li class="pagination__item">
                <span class="pagination__ellipsis"> ... </span>
              </li>
              <li class="pagination__item">
                <a href="#none" class="pagination__link"> 20 </a>
              </li>
            </ul>
            <button class="pagination__button button button--link" type="button" title="다음 페이지로 이동하기">
              <svg class="svg-icon" aria-hidden="true">
                <use xlink:href="#chevron-right-medium"></use>
              </svg>
            </button>
            <button class="pagination__button button button--link" type="button" title="마지막 페이지로 이동하기">
              <svg class="svg-icon" aria-hidden="true">
                <use xlink:href="#chevron-double-right-medium"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>

      <div class="contents__body-inner">
        <div class="contents__theme">
          <dl>
            <dt class="contents__theme-title">
              테마
            </dt>
            <dd class="contents__theme-description">
              [Defatult]
            </dd>
          </dl>
        </div>
        <div class="contents__views">
          <div class="pagination">
            <button class="pagination__button button button--link" type="button" disabled="disabled" title="첫 페이지로 이동하기">
              <svg class="svg-icon" aria-hidden="true">
                <use xlink:href="#chevron-double-left-medium"></use>
              </svg>
            </button>
            <button class="pagination__button button button--link" type="button" title="이전 페이지로 이동하기">
              <svg class="svg-icon" aria-hidden="true">
                <use xlink:href="#chevron-left-medium"></use>
              </svg>
            </button>
            <ul class="pagination__list">
              <span class="pagination__input text-input" role="textbox" contenteditable>1</span>
              <span class="pagination__dash">-</span>
              <span class="pagination__last-page">20</span>
            </ul>
            <button class="pagination__button button button--link" type="button" title="다음 페이지로 이동하기">
              <svg class="svg-icon" aria-hidden="true">
                <use xlink:href="#chevron-right-medium"></use>
              </svg>
            </button>
            <button class="pagination__button button button--link" type="button" disabled="disabled" title="마지막 페이지로 이동하기">
              <svg class="svg-icon" aria-hidden="true">
                <use xlink:href="#chevron-double-right-medium"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
