<!-- notification -->
<div class="content">
  <div class="contents__header">
    <strong class="contents__title">component</strong>
    <p class="contents__text">Notification</p>
  </div>
  <div class="contents__body">

    <div class="contents__body-inner">
      <span class="contents__theme">Closable</span>
      <div class="contents__views" style="width: 600px">
        <!-- info -->
        <div class="notification notification--info" role="alert">
          <svg class="notification__icon svg-icon" aria-hidden="true">
            <use xlink:href="#info-fill"></use>
          </svg>
          <div class="notification__contents">
            <p class="notification__title">Notification Title</p>
            <p class="notification__text">Notification Text Here.</p>
          </div>
          <button class="notification__close-button" title="닫기">
            <svg class="svg-icon" aria-hidden="true">
              <use xlink:href="#close"></use>
            </svg>
          </button>
        </div>
        <!-- success -->
        <div class="notification notification--success" role="alert">
          <svg class="notification__icon svg-icon" aria-hidden="true">
            <use xlink:href="#checkmark-fill"></use>
          </svg>
          <div class="notification__contents">
            <p class="notification__title">Notification Title</p>
            <p class="notification__text">Notification Text Here.</p>
          </div>
          <button class="notification__close-button" title="닫기">
            <svg class="svg-icon" aria-hidden="true">
              <use xlink:href="#close"></use>
            </svg>
          </button>
        </div>
        <!-- warning -->
        <div class="notification notification--warning" role="alert">
          <svg class="notification__icon svg-icon" aria-hidden="true">
            <use xlink:href="#warning-fill"></use>
          </svg>
          <div class="notification__contents">
            <p class="notification__title">Notification Title</p>
            <p class="notification__text">Notification Text Here.</p>
          </div>
          <button class="notification__close-button" title="닫기">
            <svg class="svg-icon" aria-hidden="true">
              <use xlink:href="#close"></use>
            </svg>
          </button>
        </div>
        <!-- error -->
        <div class="notification notification--error" role="alert">
          <svg class="notification__icon svg-icon" aria-hidden="true">
            <use xlink:href="#issue-fill"></use>
          </svg>
          <div class="notification__contents">
            <p class="notification__title">Notification Title</p>
            <p class="notification__text">
              Notification Text Here Notification Text Here Notification Text Here Notification Text Here Notification
              Text Here Notification Text Here Notification Text Here Notification Text Here.
            </p>
          </div>
          <button class="notification__close-button" title="닫기">
            <svg class="svg-icon" aria-hidden="true">
              <use xlink:href="#close"></use>
            </svg>
          </button>
        </div>
        <!-- normal -->
        <div class="notification notification--normal" role="alert">
          <svg class="notification__icon svg-icon" aria-hidden="true">
            <use xlink:href="#subtract"></use>
          </svg>
          <div class="notification__contents">
            <p class="notification__title">Notification Title</p>
            <p class="notification__text">
              Notification Text Here Notification Text Here Notification Text Here Notification Text Here Notification
              Text Here Notification Text Here Notification Text Here Notification Text Here.
            </p>
          </div>
          <button class="notification__close-button" title="닫기">
            <svg class="svg-icon" aria-hidden="true">
              <use xlink:href="#close"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>

    <div class="contents__body-inner">
      <span class="contents__theme">Message - block</span>
      <div class="contents__views">
        <!-- info -->
        <div class="notification-message notification-message--info">
          <svg class="notification-message__icon svg-icon" aria-hidden="true">
            <use xlink:href="#info-fill"></use>
          </svg>
          <span class="notification-message__text">Notification Message</span>
        </div>
        <!-- success -->
        <div class="notification-message notification-message--success">
          <svg class="notification-message__icon svg-icon" aria-hidden="true">
            <use xlink:href="#checkmark-fill"></use>
          </svg>
          <span class="notification-message__text">Notification Message</span>
        </div>
        <!-- warning -->
        <div class="notification-message notification-message--warning">
          <svg class="notification-message__icon svg-icon" aria-hidden="true">
            <use xlink:href="#warning-fill"></use>
          </svg>
          <span class="notification-message__text">Notification Message</span>
        </div>
        <!-- error -->
        <div class="notification-message notification-message--error">
          <svg class="notification-message__icon svg-icon" aria-hidden="true">
            <use xlink:href="#issue-fill"></use>
          </svg>
          <span class="notification-message__text">Notification Message</span>
        </div>
        <!-- loading -->
        <div class="notification-message notification-message--loading">
          <div class="loader loader--xs">
            <div class="loader__spinner"></div>
          </div>
          <span class="notification-message__text">Notification Message</span>
        </div>
      </div>
    </div>

  </div>
</div>
