<!-- context menu -->
<div class="contents">
  <div class="contents__header">
    <strong class="contents__title">component</strong>
    <p class="contents__text">Context Menu</p>
  </div>
  <div class="contents__body">
    <div class="contents__body-inner">
      <span class="contents__theme">Default Context-menu</span>
      <div>
        <div class="component-example__row">
          <div class="component-examle__item-group component-examle__item-group--column">
            <div class="context-menu" style="position: static;">
              <ul class="context-menu__list">
                <li class="context-menu__item">
                  <button class="context-menu__button" type="button">
                    <span class="context-menu__text">Context Menu</span>
                  </button>
                  <div class="context-menu__action-buttons">
                    <button class="context-menu__action-button" type="button" title="icon">
                      <svg class="svg-icon" aria-hidden="true">
                        <use xlink:href="#link"></use>
                      </svg>
                    </button>
                  </div>
                </li>
                <li class="context-menu__item context-menu__item--selected">
                  <button class="context-menu__button" type="button">
                    <span class="context-menu__text">Context Menu Selected</span>
                  </button>
                  <div class="context-menu__action-buttons">
                    <button class="context-menu__action-button" type="button" title="icon">
                      <svg class="svg-icon" aria-hidden="true">
                        <use xlink:href="#copy"></use>
                      </svg>
                    </button>
                  </div>
                </li>
                <li class="context-menu__item context-menu__item--disabled">
                  <button class="context-menu__button" type="button">
                    <span class="context-menu__text">Context Menu Disabled</span>
                  </button>
                  <div class="context-menu__action-buttons">
                    <button class="context-menu__action-button" type="button" title="icon">
                      <svg class="svg-icon" aria-hidden="true">
                        <use xlink:href="#write"></use>
                      </svg>
                    </button>
                  </div>
                </li>
                <li class="context-menu__item context-menu__item--selected context-menu__item--disabled">
                  <button class="context-menu__button" type="button" title="menu1" disabled>
                    <span class="context-menu__text">Context Menu Selected Disabled</span>
                  </button>
                  <div class="context-menu__action-buttons">
                    <button class="context-menu__action-button" type="button" title="icon">
                      <svg class="svg-icon" aria-hidden="true">
                        <use xlink:href="#popout"></use>
                      </svg>
                    </button>
                  </div>
                </li>
              </ul>
            </div>
            <div class="context-menu" style="position: static;">
              <ul class="context-menu__list">
                <li class="context-menu__item">
                  <div class="checkbox checkbox--indeterminate">
                    <input id="context-check-01" type="checkbox" class="checkbox__input" value="label" />
                    <label for="context-check-01" class="checkbox__label"> Context Menu All </label>
                  </div>
                </li>
                <li class="context-menu__item">
                  <div class="checkbox">
                    <input id="context-check-02" type="checkbox" class="checkbox__input" value="label" />
                    <label for="context-check-02" class="checkbox__label">
                      <svg class="svg-icon context-menu__icon" aria-hidden="true">
                        <use xlink:href="#data"></use>
                      </svg>
                      Context Menu
                    </label>
                  </div>
                </li>
                <li class="context-menu__item context-menu__item--selected">
                  <div class="checkbox">
                    <input id="context-check-03" type="checkbox" class="checkbox__input" value="label" checked />
                    <label for="context-check-03" class="checkbox__label">
                      <svg class="svg-icon context-menu__icon" aria-hidden="true">
                        <use xlink:href="#data"></use>
                      </svg>
                      Context Menu Selected
                    </label>
                  </div>
                </li>
                <li class="context-menu__item context-menu__item--disabled">
                  <div class="checkbox checkbox--disabled">
                    <input id="context-check-04" type="checkbox" class="checkbox__input" value="label" />
                    <label for="context-check-04" class="checkbox__label">
                      <svg class="svg-icon context-menu__icon" aria-hidden="true">
                        <use xlink:href="#data"></use>
                      </svg>
                      Context Menu Disabled
                    </label>
                  </div>
                </li>
                <li class="context-menu__item context-menu__item--selected context-menu__item--disabled">
                  <div class="checkbox checkbox--disabled">
                    <input id="context-check-05" type="checkbox" class="checkbox__input" value="label" checked disabled />
                    <label for="context-check-05" class="checkbox__label">
                      <svg class="svg-icon context-menu__icon" aria-hidden="true">
                        <use xlink:href="#data"></use>
                      </svg>
                      Context Menu Selected Disabled
                    </label>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
