<!-- list -->
<div class="contents" id="page--list">
  <div class="contents__header">
    <strong class="contents__title">List</strong>
  </div>
  <div class="contents__body">
    <div class="contents__body-inner">
      <div class="contents__theme">
        <dl>
          <dt class="contents__theme-title">
            테마
          </dt>
          <dd class="contents__theme-description">
            [Defatult]
          </dd>
        </dl>
      </div>
      <div class="contents__views">
        <ul class="list">
          <li class="list__item">
            <span class="list__text">Lorem ipsum dolor sit amet.</span>
            <div class="list__action-buttons">
              <button class="list__action-button" type="button" title="위로 이동">
                <svg class="svg-icon" aria-hidden="true">
                  <use xlink:href="#chevron-up"></use>
                </svg>
              </button>
              <button class="list__action-button" type="button" title="아래로 이동">
                <svg class="svg-icon" aria-hidden="true">
                  <use xlink:href="#chevron-down"></use>
                </svg>
              </button>
              <button class="list__action-button" type="button" title="삭제">
                <svg class="svg-icon" aria-hidden="true">
                  <use xlink:href="#trash"></use>
                </svg>
              </button>
            </div>
          </li>
          <li class="list__item">
            <span class="list__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas delectus in eligendi! Et corrupti culpa a optio perspiciatis ex voluptate!</span>
            <div class="list__action-buttons">
              <button class="list__action-button" type="button" title="위로 이동">
                <svg class="svg-icon" aria-hidden="true">
                  <use xlink:href="#chevron-up"></use>
                </svg>
              </button>
              <button class="list__action-button" type="button" title="아래로 이동">
                <svg class="svg-icon" aria-hidden="true">
                  <use xlink:href="#chevron-down"></use>
                </svg>
              </button>
              <button class="list__action-button" type="button" title="삭제">
                <svg class="svg-icon" aria-hidden="true">
                  <use xlink:href="#trash"></use>
                </svg>
              </button>
            </div>
          </li>
          <li class="list__item">
            <span class="list__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo, eius.</span>
            <div class="list__action-buttons">
              <button class="list__action-button" type="button" title="위로 이동">
                <svg class="svg-icon" aria-hidden="true">
                  <use xlink:href="#chevron-up"></use>
                </svg>
              </button>
              <button class="list__action-button" type="button" title="아래로 이동">
                <svg class="svg-icon" aria-hidden="true">
                  <use xlink:href="#chevron-down"></use>
                </svg>
              </button>
              <button class="list__action-button" type="button" title="삭제">
                <svg class="svg-icon" aria-hidden="true">
                  <use xlink:href="#trash"></use>
                </svg>
              </button>
            </div>
          </li>
          <li class="list__item">
            <span class="list__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut doloremque iusto temporibus similique aliquam omnis. Voluptatem laudantium magnam dolorum deleniti esse officia, autem id veritatis facere?</span>
            <div class="list__action-buttons">
              <button class="list__action-button" type="button" title="위로 이동">
                <svg class="svg-icon" aria-hidden="true">
                  <use xlink:href="#chevron-up"></use>
                </svg>
              </button>
              <button class="list__action-button" type="button" title="아래로 이동">
                <svg class="svg-icon" aria-hidden="true">
                  <use xlink:href="#chevron-down"></use>
                </svg>
              </button>
              <button class="list__action-button" type="button" title="삭제">
                <svg class="svg-icon" aria-hidden="true">
                  <use xlink:href="#trash"></use>
                </svg>
              </button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
