<!-- list -->
<div class="content">
  <div class="contents__header">
    <strong class="contents__title">component</strong>
    <p class="contents__text">Breacrumb</p>
  </div>
  <div class="contents__body">
    <div class="contents__body-inner">
      <span class="contents__theme">Action Button List</span>
      <div class="contents__views">
        <div class="list">
          <div class="list__body">
            <ul class="list__list">
              <li class="list__item">
                <button type="button" class="list__button">
                  <span class="list__text">Action Button list item text long long long long long long long long long long</span>
                </button>
                <div class="list__action-buttons">
                  <button class="list__action-button" type="button" title="위로 이동">
                    <svg class="svg-icon" aria-hidden="true">
                      <use xlink:href="#chevron-up"></use>
                    </svg>
                  </button>
                  <button class="list__action-button" type="button" title="아래로 이동">
                    <svg class="svg-icon" aria-hidden="true">
                      <use xlink:href="#chevron-down"></use>
                    </svg>
                  </button>
                  <button class="list__action-button" type="button" title="삭제">
                    <svg class="svg-icon" aria-hidden="true">
                      <use xlink:href="#trash"></use>
                    </svg>
                  </button>
                </div>
              </li>
              <li class="list__item list__item--selected">
                <button type="button" class="list__button">
                  <span class="list__text">Action Button list item text selected</span>
                </button>
                <div class="list__action-buttons">
                  <button class="list__action-button" type="button" title="위로 이동">
                    <svg class="svg-icon" aria-hidden="true">
                      <use xlink:href="#chevron-up"></use>
                    </svg>
                  </button>
                  <button class="list__action-button" type="button" title="아래로 이동">
                    <svg class="svg-icon" aria-hidden="true">
                      <use xlink:href="#chevron-down"></use>
                    </svg>
                  </button>
                  <button class="list__action-button" type="button" title="삭제">
                    <svg class="svg-icon" aria-hidden="true">
                      <use xlink:href="#trash"></use>
                    </svg>
                  </button>
                </div>
              </li>
              <li class="list__item list__item--disabled">
                <button type="button" class="list__button">
                  <span class="list__text">Action Button list item text disabled</span>
                </button>
                <div class="list__action-buttons">
                  <button class="list__action-button" type="button" title="위로 이동">
                    <svg class="svg-icon" aria-hidden="true">
                      <use xlink:href="#chevron-up"></use>
                    </svg>
                  </button>
                  <button class="list__action-button" type="button" title="아래로 이동">
                    <svg class="svg-icon" aria-hidden="true">
                      <use xlink:href="#chevron-down"></use>
                    </svg>
                  </button>
                  <button class="list__action-button" type="button" title="삭제">
                    <svg class="svg-icon" aria-hidden="true">
                      <use xlink:href="#trash"></use>
                    </svg>
                  </button>
                </div>
              </li>
              <li class="list__item list__item--selected list__item--disabled">
                <button type="button" class="list__button">
                  <span class="list__text">Action Button list item text selected disabled</span>
                </button>
                <div class="list__action-buttons">
                  <button class="list__action-button" type="button" title="위로 이동">
                    <svg class="svg-icon" aria-hidden="true">
                      <use xlink:href="#chevron-up"></use>
                    </svg>
                  </button>
                  <button class="list__action-button" type="button" title="아래로 이동">
                    <svg class="svg-icon" aria-hidden="true">
                      <use xlink:href="#chevron-down"></use>
                    </svg>
                  </button>
                  <button class="list__action-button" type="button" title="삭제">
                    <svg class="svg-icon" aria-hidden="true">
                      <use xlink:href="#trash"></use>
                    </svg>
                  </button>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="contents__body-inner">
      <span class="contents__theme">Search List</span>
      <div class="contents__views">
        <div class="list">
          <div class="list__head">
            <div class="list__head-title">
              <span class="list__head-title-text">title</span>
            </div>
            <div class="text-input-group" role="searchbox">
              <span class="text-input-group__icon">
                <svg class="svg-icon" aria-hidden="true">
                  <use xlink:href="#search"></use>
                </svg>
              </span>
              <input type="text" class="text-input" placeholder="검색어를 입력해주세요" />
              <button class="text-input-group__clear-button" title="텍스트 삭제">
                <svg class="svg-icon" aria-hidden="true">
                  <use xlink:href="#close"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="list__body">
            <ul class="list__list">
              <li class="list__item">
                <button type="button" class="list__button">
                  <div class="checkbox">
                    <input id="listCheck01" type="checkbox" class="checkbox__input" value="label">
                    <label for="listCheck01" class="checkbox__label">
                      <svg class="svg-icon list__icon" aria-hidden="true">
                        <use xlink:href="#data-model"></use>
                      </svg>
                      <span class="list__text">list item text <mark class="filter-highlight">filter highlight</mark></span>
                    </label>
                  </div>
                </button>
              </li>
              <li class="list__item">
                <button type="button" class="list__button">
                  <div class="radio">
                    <input id="listRadio01" type="radio" class="radio__input" value="label">
                    <label for="listRadio01" class="radio__label">
                      <svg class="svg-icon list__icon" aria-hidden="true">
                        <use xlink:href="#data-model"></use>
                      </svg>
                      <span class="list__text">list item text <mark class="filter-highlight">filter highlight</mark></span>
                    </label>
                  </div>
                </button>
              </li>
              <li class="list__item list__item--selected">
                <button type="button" class="list__button">
                  <svg class="svg-icon list__icon" aria-hidden="true">
                    <use xlink:href="#data-model"></use>
                  </svg>
                  <span class="list__text">list item text</span>
                </button>
              </li>
              <li class="list__item">
                <button type="button" class="list__button">
                  <svg class="svg-icon list__icon" aria-hidden="true">
                    <use xlink:href="#data-model"></use>
                  </svg>
                  <svg class="svg-icon list__subicon" aria-hidden="true">
                    <use xlink:href="#share-filled"></use>
                  </svg>
                  <span class="list__text">list item text</span>
                  <span class="list__subtext">subtext</span>
                </button>
              </li>
              <li class="list__item">
                <button type="button" class="list__button">
                  <span class="list__text">list item text</span>
                  <span class="list__subtext">subtext</span>
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
