<!-- lnb -->
<div class="side-bar">
  <h4 class="side-bar__title">Components</h4>
  <ul class="snb">
    <li class="snb__item">
      <a href="#page--accordion" class="snb__link">Accordion</a>
    </li>
    <li class="snb__item">
      <a href="#page--alert" class="snb__link">Alert</a>
    </li>
    <li class="snb__item">
      <a href="#page--breadcrumb" class="snb__link">Breadcrumb</a>
    </li>
    <li class="snb__item">
      <a href="#page--list" class="snb__link">List</a>
    </li>
    <li class="snb__item">
      <a href="#page--Modal" class="snb__link">Modal</a>
    </li>
    <li class="snb__item">
      <a href="#page--notification" class="snb__link">Notification</a>
    </li>
    <li class="snb__item">
      <a href="#page--pagination" class="snb__link">Pagination</a>
    </li>
    <li class="snb__item">
      <a href="#page--progressbar" class="snb__link">Progressbar</a>
    </li>
    <li class="snb__item">
      <a href="#page--stepper" class="snb__link">Stepper</a>
    </li>
    <li class="snb__item">
      <a href="#page--tab" class="snb__link">Tab</a>
    </li>
    <li class="snb__item">
      <a href="#page--table" class="snb__link">Table</a>
    </li>
  </ul>
  <h4 class="side-bar__title">UI</h4>
  <ul class="snb">
    <li class="snb__item">
      <a href="#page--badge" class="snb__link">Badge</a>
    </li>
    <li class="snb__item">
      <a href="#page--button" class="snb__link">Button</a>
    </li>
    <li class="snb__item">
      <a href="#page--checkbox" class="snb__link">Checkbox</a>
    </li>
    <li class="snb__item">
      <a href="#page--loader" class="snb__link">Loader</a>
    </li>
    <li class="snb__item">
      <a href="#page--radio" class="snb__link">Radio</a>
    </li>
    <li class="snb__item">
      <a href="#page--select" class="snb__link">Select</a>
    </li>
    <li class="snb__item">
      <a href="#page--tag" class="snb__link">Tag</a>
    </li>
    <li class="snb__item">
      <a href="#page--text-input" class="snb__link">Text Input</a>
    </li>
    <li class="snb__item">
      <a href="#page--textarea" class="snb__link">Textarea</a>
    </li>
    <li class="snb__item">
      <a href="#page--toggle-button" class="snb__link">Toggle Button</a>
    </li>
    <li class="snb__item">
      <a href="#page--toggle-switch" class="snb__link">Toggle Switch</a>
    </li>
    <li class="snb__item">
      <a href="#page--text-input" class="snb__link">Text Input</a>
    </li>
    <li class="snb__item">
      <a href="#page--textarea" class="snb__link">Textarea</a>
    </li>
    <li class="snb__item">
      <a href="#page--toggle-button" class="snb__link">Toggle Button</a>
    </li>
    <li class="snb__item">
      <a href="#page--toggle-switch" class="snb__link">Toggle Switch</a>
    </li>
    <li class="snb__item">
      <a href="#page--text-input" class="snb__link">Text Input</a>
    </li>
    <li class="snb__item">
      <a href="#page--textarea" class="snb__link">Textarea</a>
    </li>
    <li class="snb__item">
      <a href="#page--toggle-button" class="snb__link">Toggle Button</a>
    </li>
    <li class="snb__item">
      <a href="#page--toggle-switch" class="snb__link">Toggle Switch</a>
    </li>
  </ul>
</div>
