footer {
  z-index: z("footer");
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: rem(40px);
  user-select: none;
  flex-shrink: 0;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0 $spacing-md;
  background-color: $ui-04;
}

.footer__copyright {
  @include font-size("12");
}
