header {
  z-index: z("header");
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: rem(80px);
  user-select: none;
  flex-shrink: 0;
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 $spacing-md;
  background-color: $ui-02;
  border-bottom: 2px solid $text-02;
}

.header__title {
  @include font-size("24");
  color: $text-01;
}
