.side-bar {
  overflow-y: auto;
  position: fixed;
  left: 0;
  top: rem(80px);
  bottom: rem(40px);
  width: rem(240px);
  flex-shrink: 0;
  border-right: 1px solid $text-02;
  background-color: $ui-02;
}

.side-bar__title {
  @include font-size("18");
  @include font-weight("medium");
  width: 100%;
  height: rem(40px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $ui-04;
  color: $text-01;
  user-select: none;
}

.snb {
  padding: $spacing-xs 0;
}

.snb__item {
}

.snb__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: rem(32px);
  text-decoration: none;

  &:hover:not(:disabled) {
    background-color: $ui-01;
    color: $text-02;
  }

  &:active {
    background-color: $ui-04;
  }
}
